@page "/hstafffunctions/create"
@inject HotelApp2.Models.Hotel_DBContext DB
@using HotelApp2.Models
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>HStaffFunction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="HStaffFunction" OnValidSubmit="AddHStaffFunction" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="HStaffFunction.Name" class="form-control" /> 
                <ValidationMessage For="() => HStaffFunction.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="salaryrate" class="form-label">SalaryRate:</label> 
                <InputNumber id="salaryrate" @bind-Value="HStaffFunction.SalaryRate" class="form-control" /> 
                <ValidationMessage For="() => HStaffFunction.SalaryRate" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/hstafffunctions">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public HStaffFunction HStaffFunction { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddHStaffFunction()
    {
        DB.HStaffFunctions.Add(HStaffFunction);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/hstafffunctions");
    }
}
