@page "/hstafffunctions/delete"
@inject HotelApp2.Models.Hotel_DBContext DB
@using HotelApp2.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HStaffFunction</h4>
    <hr />
    @if (hstafffunction is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@hstafffunction.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">SalaryRate</dt>
            <dd class="col-sm-10">@hstafffunction.SalaryRate</dd>
        </dl>
        <EditForm method="post" Model="hstafffunction" OnValidSubmit="DeleteHStaffFunction" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(hstafffunction is null)">Delete</button> |
            <a href="/hstafffunctions">Back to List</a>
        </EditForm>
    }
</div>

@code {
    HStaffFunction? hstafffunction;

    [SupplyParameterFromQuery]
    public byte Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hstafffunction = await DB.HStaffFunctions.FirstOrDefaultAsync(m => m.Id == Id);

        if (hstafffunction is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteHStaffFunction()
    {
        DB.HStaffFunctions.Remove(hstafffunction!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/hstafffunctions");
    }
}
