@page "/hstafffunctions"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HotelApp2.Models.Hotel_DBContext DB
@using HotelApp2.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="hstafffunctions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.HStaffFunctions">
    <PropertyColumn Property="hstafffunction => hstafffunction.Name" />
    <PropertyColumn Property="hstafffunction => hstafffunction.SalaryRate" />

    <TemplateColumn Context="hstafffunction">
        <a href="@($"hstafffunctions/edit?id={hstafffunction.Id}")">Edit</a> |
        <a href="@($"hstafffunctions/details?id={hstafffunction.Id}")">Details</a> |
        <a href="@($"hstafffunctions/delete?id={hstafffunction.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
