@page "/StaffFunction"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HotelApp2.Models.Hotel_DBContext DB
@using HotelApp2.Models

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

<PageTitle>Index</PageTitle>

<h1>Staff Functions</h1>

<p>
    <a href="StaffFunction/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.HStaffFunctions">
    <PropertyColumn Property="hstafffunction => hstafffunction.Name" />
    <PropertyColumn Property="hstafffunction => hstafffunction.SalaryRate" Title="Salary Rate" />

    <TemplateColumn Context="hstafffunction">
        <a href="@($"StaffFunction/edit?id={hstafffunction.Id}")">Edit</a> |
        <a href="@($"StaffFunction/delete?id={hstafffunction.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
