@page "/hlivings"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HotelApp2.Models.Hotel_DBContext DB
@using HotelApp2.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="hlivings/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.HLivings">
    <PropertyColumn Property="hliving => hliving.Number" />
    <PropertyColumn Property="hliving => hliving.CheckInDate" />
    <PropertyColumn Property="hliving => hliving.CheckOutDate" />
    <PropertyColumn Property="hliving => hliving.Amount" />
    <PropertyColumn Property="hliving => hliving.Comments" />
    <PropertyColumn Property="hliving => hliving.RoomId" />
    <PropertyColumn Property="hliving => hliving.StatusId" />
    <PropertyColumn Property="hliving => hliving.BookingId" />
    <PropertyColumn Property="hliving => hliving.GuestId" />

    <TemplateColumn Context="hliving">
        <a href="@($"hlivings/edit?id={hliving.Id}")">Edit</a> |
        <a href="@($"hlivings/details?id={hliving.Id}")">Details</a> |
        <a href="@($"hlivings/delete?id={hliving.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
