@page "/RoomType"
@using Microsoft.AspNetCore.Components.QuickGrid
@using HotelApp2
@using HotelApp2.Models;
@inject HotelApp2.Models.Hotel_DBContext DbContext
@rendermode InteractiveServer

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

<h1>Room Types</h1>

<a href="RoomType/Create" style="font-size:20px"><i class="fas fa-plus"> Create new</i></a>

<QuickGrid Class="table table-striped" Items="DbContext.HDRoomTypes">
    <PropertyColumn  Property="type => type.Name" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="type => type.Capacity" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="type => type.Price" Sortable="true"></PropertyColumn>

    <TemplateColumn Context="type">
        <a href="@($"RoomType/Edit/{type.Id}")"><i class="fas fa-edit"> Edit </i></a> |
        <a href="@($"RoomType/Delete/{type.Id}")"><i class="fas fa-trash-alt"> Delete</i></a>
    </TemplateColumn>
</QuickGrid>

@code {

}
